body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Segoe UI', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(25, 139, 69), rgb(31, 172, 182) 100%);
  text-align: center;
}